:root{
    --dark: rgb(73, 70, 70);
    --darker: rgb(46, 45, 45);
    --darkest: rgb(21, 21, 21);
    --grey: grey;
    --light: #eee;
    --pink: pink;
    --purple: purple;
}

*{
    box-sizing: border-box;
    margin: 0;
    font-family: sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: var(--dark);
    color: black;
}

header{
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    border: 2px solid white;
    border-radius: 25px;
}

header h1{
    font-size: 2.5rem;
    font-weight: 300;
    color: var(--grey);
    margin-bottom: 1rem;
}

main{
    border: 2px solid white;
    border-radius: 25px;
}

#new-task-form{
    display: flex;
}

input, button{
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

#new-task-input {
    flex: 1 1 0%;
    background-color: var(--darker);
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 1rem;
    color: var(--light);
    font-size: 1.25rem;
}

#new-task-input::placeholder{
    color: var(--grey);
}

#new-task-submit{
    color: white;
    font-size: 1.25rem;
    font-weight: 700;
    cursor: pointer;
}

#new-task-submit:hover{
    opacity: 0.8;
}

#new-task-submit:active{
    opacity: 0.6;
}

main{
    flex: 1 1 0%;
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.task-list h2{
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--grey);
    margin-bottom: 1rem;
}

#tasks .task{
    display: flex;
    justify-content: space-between;
    background-color: var(--darker);
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

#tasks .task .content{
    flex: 1 1 0%;
}

#tasks .task .content .text{
    color: var(--light);
    font-size: 1.125rem;
    width: 100%;
    display: block;
    transition: 0.4s;
}

#tasks .task .content .text:not(:read-only) {
   color: var(--pink);
}

#tasks .task .actions{
    display: flex;
    margin: 0 -0.5rem;
} 

.task .actions button{
    cursor: pointer;
    margin: 0 0.5rem;
    font-size: 1.125rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.4s;
}

.task .actions button:hover{
    opacity: 0.8s;
}

.task .actions button:active{
    opacity: 0.4;
}

.task .actions .edit{
    color: green;
}

.task .actions .delete{
    color: crimson;
}